

<div class="container">
  
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="row">
        Trending  
      </div>
      <div class="row">
        Top Questions  
      </div>
    </div>
    
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <app-questions-list></app-questions-list>    
    </div>
    
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="row">
        Some Ad
      </div>
      <div class="row">
        Some More Content
      </div>
      <div class="row">
        One More Ad
      </div>
    </div>

  </div>
</div>